// require.config({
//     paths: {
//         jquery: 'node_modules/jquery/dist/jquery.min'  // Set path to jQuery
//     },
//     shim: {
//         'jquery': {
//             exports: '$'  // Define jQuery as the global $ symbol
//         }
//     }
// });

// require(['jquery'], function($) {
//     // Now jQuery is available
//     // Your test code can start here
//     console.log($);  // This should log the jQuery function if it's available

//     // Place the rest of your test code here
//     describe("Save button functionality", function() {
//         // Your test cases
//     });
// });
