@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Employee Information </h2>
<table class="table">
    <tr>
        <td>Sr. No</td>
        <td>Employee Name</td>
        <td>Designation</td>
        <td>National ID</td>
        <td>Joining Date</td>
        <td>Code</td>
        <td>Department</td>
        <td>Blood Group</td>
        <td>Actions</td> <!-- New column for Edit and Delete buttons -->
    </tr>

   
</table>

